<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293448435835-iq0limg8tubi2ue5oe3thr1pti9kpvr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293448435835-iq0limg8tubi2ue5oe3thr1pti9kpvr1</string>
	<key>API_KEY</key>
	<string>AIzaSyAYhg_LwV7wDOzxd-jr2CGfWip6Fhb9nxA</string>
	<key>GCM_SENDER_ID</key>
	<string>293448435835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>self.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-pet-project</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-pet-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293448435835:ios:6eb11c39c921595e25bade</string>
</dict>
</plist>